html {
    height: 100%;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Open Sans";
    color: #133022;
    // background-color: #75ad81;
    background-image: linear-gradient(180deg, #efeed0, #66a17a);
}

@import 'app';
@import 'navbarheader';

@import 'page-title';
@import 'form-fields';
@import 'details';

// AUTH 
@import 'auth/signin';
@import 'auth/signup';

// ACCOUNT
@import 'account/account';
@import 'account/purchase-history';
@import 'account/account-info';

// SHOP
@import 'shop/shop';
@import 'shop/shop-search-bar';
@import 'shop/shop-product';

// QUANTITY
@import 'quantity';
@import 'green-price-tag';