html {
    height: 100%;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Open Sans";
    color: #798777;
    background-image: linear-gradient(180deg, #febba8, #ec81a5);
}

@import 'app';
@import 'navbarheader';
@import 'auth/signin';
@import 'auth/signup';
@import 'page-title';
@import 'form-fields';
@import 'details';